/* **************************
RESET
************************** */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

/* **************************
DEBUG
************************** */
/* .scb-debug {
  border: 2px solid black;
} */
/* **************************
TEMPLATE
************************** */
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(23, 150, 135, 1) 15%,
    rgb(192, 194, 181) 15%
  );
  overflow: hidden;
  font-size: 15px;
}

.scb-container {
  margin: 20px auto;
  height: calc(100vh - 20px);
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 5px;
}

.scb-body-container {
  padding: 0;
}

.scb-top-template {
  background-color: #c5bfbf;
  height: 70px;
}

.cianuro {
  border-right: 1px solid rgb(179, 179, 179);
}

.scb-body-template {
  height: calc(90vh - 70px);

}

.avatar-cianuro {
  width: 50px;
  margin: 10px 0;
}
.avatar {
  width: 60px;
  margin: 10px 0;
}
.scb-icon {
  color: #878383;
  font-size: 1.3rem;
}

.scb-icon-central {
  margin: 0 1rem;
}

.scb-notifiche {
  height: 80px;
  background-color: #8edafc;
  padding: 10px;
}

.scb-attiva-notifiche {
  font-size: 12px;
  text-decoration: underline;
}

.scb-campana-notifiche {
  font-size: 30px;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  aspect-ratio: 1/1;
  color: #8edafc;
}

.scb-lista {
  background-color: #ebeef0;
  flex-grow: 1;
  flex-shrink: 0;
}
.elenco-contatti {
  background-color: #ebeef0;
  padding: 5px;
}

.scb-chat {
  flex-grow: 1;
  flex-shrink: 0;
  background-image: url(.././img/aurora-boreale-2023.jpg);
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  padding-top: 25px;
}

.scb-scrivi-messaggio {
  height: 70px;
  background-color: #f2eeea;
  padding: 10px;
}

.scb-barra-di-ricerca {
  padding: 0 10px;
  background-color: #f8f9fa;
}
.lente-ricerca {
  font-size: 13px;
}
.scb-campo-scrivi {
  width: 90%;
}

.scb-icone-scrivi-messaggio {
  font-size: 1.5rem;
}
.input-cerca {
  border-radius: 0;
  border: none;
  font-size: 13px;
  position: relative;
}
.fa-circle-xmark{
  position:absolute;
  z-index: 999;
  right: 10px;
  bottom: 8px;
  color: #c5bfbf;
}
.fa-circle-xmark:hover{
  color: red;
  cursor: pointer;
}

.nome-contatto-ospite {
  font-weight: bold;
}
.ultimo-accesso {
  font-size: 12px;
}

/* **************************
CONTATTI
************************** */
.scb-contatti {
  height: 60px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.scb-contatti:hover,
.active {
  background-color: #cfcbcb;
  cursor: pointer;
}

/* .avatar-contatti {
  /* height: 100%; */
} */
/* .scb-scheda-nome-contatto {
  width: 90%;
} */

.scb-ora-ricezione {
  margin-left: auto;
}

.ultimo-messagio-inviato,
.scb-ora-ricezione {
  font-size: 11px;
  color: #9b9898;
}

/* **************************
CHAT
************************** */
.messaggio-inviato {
  background-color: #d5f9ba;
  max-width: 40%;
  border-radius: 10px;
  padding: 1px 10px;
  margin-bottom: 10px;
  position: relative;
  align-self: flex-end;
  whithe-space: nowrap;
  word-break: break-all;
}

.messaggio-ricevuto {
  background-color: #ffffff;
  max-width: 40%;
  border-radius: 10px;
  padding: 1px 10px;
  margin-bottom: 10px;
  position: relative;
  align-self: flex-start;
  whithe-space: nowrap;
  word-break: break-all;
}

.orario-messaggio {
  font-size: 12px;
  line-height: 1em;
  position: absolute;
  bottom: -12px;
  right: 5px;
}
